{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Your lab environment</h1>

  <ul class="list-group">
          <li class="list-group-item"> <b>Name:</b> {{ cr_status['status']['resource']['metadata']['name'] }} </li>
          <li class="list-group-item"> <b>Desired State:</b> {{ cr_status['spec']['template']['spec']['desiredState'] }}</li>
          <li class="list-group-item"> <b>Current State:</b> {{ cr_status['status']['resource']['status']['state'] }}</li>
  </ul>

  <h3>Manage your environment</h3>
  {{ wtf.quick_form(form, 
  button_map={'btn_start': 'success', 
              'btn_stop': 'primary', 
              'btn_delete': 'danger',
              'btn_update': 'info'
              }) }}

</div>

<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteModalLabel">Confirm deletion</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              Delete environment <b>{{ cr_status['status']['resource']['metadata']['name'] }} </b>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-ok">Delete</button>
      </div>
    </div>
  </div>
</div>

        <script>
        $('#confirm-delete').on('click', '.btn-ok', function(e) {
            var $modalDiv = $(e.delegateTarget);
            var id = $(this).data('recordId');
            // $.ajax({url: '/api/record/' + id, type: 'DELETE'})
            // $.post('/api/record/' + id).then()
            $modalDiv.addClass('loading');
            setTimeout(function() {
                $modalDiv.modal('hide').removeClass('loading');
            }, 1000)
        });
        $('#confirm-delete').on('show.bs.modal', function(e) {
            var data = $(e.relatedTarget).data();
            $('.title', this).text(data.recordTitle);
            $('.btn-ok', this).data('recordId', data.recordId);
        });
        </script>

{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

